<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">    
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <style>
        body {
			display: flex;
			justify-content: center;			
		}
		
		.container {
            background-color: #f9f7f5;
            width: 600px;
            height: 250px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;			
        }
		
		.card {
			width: 500px;
			height: 200px;
			background-color: white;
			display: flex;
			align-items: center;
			flex-direction: column;	
		}
		
		.title {
			font-family: 'Roboto', sans-serif;
			font-weight: 700;			
			font-size: 22px;
			padding-top: 8px;
            padding-bottom: 10px;
			border-bottom: 1px solid #ffd2d2;
		}
		
		.description {
			font-family: 'Roboto', sans-serif;
			font-weight: 500;			
			font-size: 18px;
			padding: 12px 10px;
		}
		
		.token {
			font-family: 'Roboto', sans-serif;
			font-weight: 500;			
			font-size: 25px;
			padding: 18px;
			border: 1px solid #FFF;
			border-radius: 10px;
			color: white;
			background-color: #2ea09b;
		}		
		
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
			<span class="title">Recuperação de Senha</span>
			<span class="description">Parece que você perdeu ou esqueceu sua senha. Se isso realmente aconteceu, utilize o token abaixo para recuperá-la.</span>
			<div class="token">
				<span>{{hash}}</span>
			</div>
		</div>
    </div>
</body>
</html>